<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar turno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="editar-background">

  <div class="contenedor">

    <!-- SERVICIO -->
    <div class="campo">
      <label>Servicio</label>
      <ion-select [(ngModel)]="id_servicio">
        <ion-select-option 
          *ngFor="let s of servicios"
          [value]="s.id_servicio">
          {{ s.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- PROFESIONAL -->
    <div class="campo">
      <label>Profesional</label>
      <ion-select [(ngModel)]="id_prestador">
        <ion-select-option 
          *ngFor="let p of prestadores"
          [value]="p.id_prestador">
          {{ p.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- FECHA -->
    <div class="campo">
      <label>Fecha</label>
      <ion-input type="date" [(ngModel)]="fecha"></ion-input>
    </div>

    <!-- HORA -->
    <div class="campo">
      <label>Hora</label>
      <ion-input type="time" [(ngModel)]="hora"></ion-input>
    </div>

    <!-- SUCURSAL -->
    <div class="campo">
      <label>Sucursal</label>
      <ion-select [(ngModel)]="id_sucursal">
        <ion-select-option 
          *ngFor="let s of sucursales"
          [value]="s.id_sucursal">
          {{ s.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- BOTÓN GUARDAR -->
    <ion-button expand="block" class="btn-guardar" (click)="guardarCambios()">
      Guardar cambios
    </ion-button>

  </div>

</ion-content>