:host {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; /* Fondo claro */
    border: 1px solid #e0e0e0; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px;
}

ion-card {
    background-color: #ffffff; /* Fondo blanco para las tarjetas */
    border: 1px solid #d0d0d0; /* Borde gris para las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: none; /* Sin sombra para un diseño plano */
}

ion-item {
    --background: transparent; /* Fondo transparente para los items */
    --border-color: #e0e0e0; /* Color de borde gris claro */
    border-bottom: 1px solid #e0e0e0; /* Borde inferior para separación */
}

ion-button {
    --background: transparent; /* Botones transparentes */
    --color: #333; /* Color de texto oscuro */
}

h2 {
    color: #333; /* Color de texto oscuro para títulos */
}

p {
    color: #666; /* Color gris para texto */
}