<!-- 
This file contains the HTML structure for the side navigation component. 
It includes options to display either icons only or icons with labels, 
and is styled to fit a flat design with a light background and adjusted border thickness.
-->

<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of navigationItems" (click)="selectItem(item)">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label *ngIf="showLabels">{{ item.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>